asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
deep-translator==1.11.0
fastapi==0.68.2
h11==0.14.0
idna==3.6
pydantic==1.10.13
requests==2.31.0
soupsieve==2.5
starlette==0.14.2
typing_extensions==4.8.0
urllib3==2.1.0
uvicorn==0.15.0
youtube-transcript-api==0.6.1
