asgiref==3.7.2
backoff==2.2.1
beautifulsoup4==4.12.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
deep-translator==1.11.0
Deprecated==1.2.14
elastic-transport==8.10.0
elasticsearch==8.11.1
fastapi==0.68.2
googleapis-common-protos==1.61.0
grpcio==1.59.3
h11==0.14.0
idna==3.6
importlib-metadata==6.0.1
opentelemetry-api==1.17.0
opentelemetry-distro==0.38b0
opentelemetry-exporter-otlp==1.17.0
opentelemetry-exporter-otlp-proto-grpc==1.17.0
opentelemetry-exporter-otlp-proto-http==1.17.0
opentelemetry-instrumentation==0.38b0
opentelemetry-instrumentation-asgi==0.38b0
opentelemetry-instrumentation-aws-lambda==0.38b0
opentelemetry-instrumentation-dbapi==0.38b0
opentelemetry-instrumentation-fastapi==0.38b0
opentelemetry-instrumentation-grpc==0.38b0
opentelemetry-instrumentation-logging==0.38b0
opentelemetry-instrumentation-requests==0.38b0
opentelemetry-instrumentation-sqlite3==0.38b0
opentelemetry-instrumentation-tortoiseorm==0.38b0
opentelemetry-instrumentation-urllib==0.38b0
opentelemetry-instrumentation-wsgi==0.38b0
opentelemetry-propagator-aws-xray==1.0.1
opentelemetry-proto==1.17.0
opentelemetry-sdk==1.17.0
opentelemetry-semantic-conventions==0.38b0
opentelemetry-util-http==0.38b0
protobuf==4.25.1
pydantic==1.10.13
requests==2.31.0
soupsieve==2.5
starlette==0.14.2
typing_extensions==4.8.0
urllib3==2.1.0
uvicorn==0.15.0
wrapt==1.16.0
youtube-transcript-api==0.6.1
zipp==3.17.0
