<div>
    <p class="pt-3 ps-5" routerLink="/" style="cursor: pointer;">voltar para episódios</p>
    <div class="row justify-content-center">
      <div class="row col-8">
        <div class="player-columns px-2">
          <youtube-player [videoId]="getVideoId(episode.mediaUrl)" suggestedQuality="highres" [height]="250" [width]="1000" (stateChange)="onPlayerStateChange($event)" #player></youtube-player>
        </div>
        <div class="d-flex player-columns px-2 mt-2 align-items-center justify-content-center">
          <p *ngFor="let line of transcript_line" class="palavras py-2 px-4 mx-2">{{ line }}</p>
        </div>
      </div>
      <div class="player-columns col-3 ms-2 d-flex flex-column align-items-end">
        <div *ngFor="let message of chat" class="chat-message" [ngClass]="{'user-message': message.role === 'USER', 'ia-message': message.role === 'IA'}">
          <span class="role">{{ message.role }}:</span> {{ message.content }}
        </div>
        <div class="mb-3 w-100">
          <textarea [(ngModel)]="question" style="width: 100%;" class="form-control" aria-label="With textarea" placeholder="Faça uma pergunta sobre o episódio"></textarea>
          <button class="btn btn-outline-success mt-2" (click)="searchQuestion()">Enviar</button>
        </div>
      </div>
    </div>
  </div>
  