<div class="container mt-5">
    <form class="d-flex mb-5 justify-content-center mx-4" role="search">
        <input class="form-control me-2" type="search" placeholder="Pesquise pelo nome de um episódio..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
    <div class="row justify-content-center">

        <div class="card px-0 mx-3 mb-5" [routerLink]="['/player/episode', episode.id]" style="width: 18rem; cursor: pointer;" *ngFor="let episode of episodes">
           <div class="card-body px-0 pt-0">
              <img src="https://static.todamateria.com.br/upload/pa/is/paisagem-natural-og.jpg" width="100%" alt="...">
              <h5 class="card-title px-3 pt-3">{{episode.title}}</h5>
              <p class="card-text px-3">{{episode.description}}</p>
            </div>
        </div>

    </div>
</div>
