<ul class="navbar-nav me-2 my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px; ">
  <li class="nav-item">
    <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger"
    %>
  </li>
</ul>