<div id="<%= dom_id podcast %>">
  <p>
    <strong>Title:</strong>
    <%= podcast.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= podcast.description %>
  </p>

  <p>
    <strong>Cover art:</strong>
    <%= image_tag podcast.cover_art, class: 'w-50' %>
  </p>
</div>
