
<div class="row mt-5">
  <div class="col">
    <h1>Editing podcast</h1>
  </div>

  <div class="col-2 d-inline-flex p-2">
    <%= link_to "Show this podcast",
                user_podcast_path(@user, @podcast),
                class: "btn btn-primary w-100"
    %>
  </div>
</div>

<hr class="my-5">

<%= render "form", podcast: @podcast, user: @user %>

